{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="count">
      <h1>Counter</h1>
      <div class="output">
        <h1>{{session['visits']}}</h1>
      </div>
      <div id=btns>
        <form action="/count" method="post">
          <button class="btn btn-dark" type='submit' value='Click'>Click</button>
        </form>
        <form action="/clear" method="post">
          <button class="btn btn-dark btn-hover" type='submit' value='Reset'>Reset</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}